<h2>Signin</h2>

<title>login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <style>
    h1 {
      text-align: center;
      margin: 40px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Login</h1>

    <div class="form">
      <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control">
      </div>

      <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control">
      </div>

      <div class="form-group">
        <button class="btn btn-success">Login</button>
        <button class="btn btn-warning float-right">Signup</button>
      </div>
    </div>
  </div>
</body>
</html>
